.container-grid {
  display: grid;
  max-width: 1440px;
  margin: 40px auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-img {
  grid-column: 2;
  grid-row: 1;
}

.img {
  /* height: 500px; */
  width: 600px;
  margin-left: 40px;
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1;
  grid-row: 2;
}

.logo-container,
.logo,
.login-box {
  display: flex;
  align-items: center;
}

.logo-container nav {
  display: flex;
  margin-left: 70px;
  gap: 35px;
}

.login-box {
  gap: 35px;
}

.main-ann {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}

.main-title {
  padding-top: 70px;
  font-size: 85px;
  font-weight: 700;
}

.main-p {
  color: var(--gray);
  padding-top: 50px;
  font-size: 18px;
  width: 400px;
}

.main-btn {
  margin-top: 50px;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}
