/* NAVIGATION DROPDOWN */

/* .dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: calc(100% + 0.35rem);
  gap: 7px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -2px 3px 8px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .nav-button + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; 
 } */

/* ARROW ICON STYLE */

/* .arr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
} */
